@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.menu {
  width: 350px;
  padding: 0 1rem 1rem;

  > button {
    @extend .clickable;
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: .5rem 0.75rem;
    transition: background-color 0.5s ease;
    border:solid 1px currentColor;
    border-radius: 26px;
    color: $main-color;
    height: 2rem;
    margin-bottom: 1rem;
  }
}

.navigation {
  height: calc(100vh - 145px);
  background-color: #f4f4f4;
  padding: 1rem;
  overflow: auto;
}
