@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.container {
  margin-bottom: 1em;
  padding: 0.75em 1em;
  background-color: #F9F8F8;
}

.header {
  display: flex;
  align-items: center;
}

.heading {
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0.35rem;
}

.title {
  font-size: 1.15em;
  display: inline-flex;
  align-items: center;
  flex: 1;
}

.icon {
  display: flex;
}

.by {
  padding-right: 0.35em;
}

.creator {
  font-style: italic;
}

.metadata {
  padding-left: 0.5rem;
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.updatedAt {
  opacity: 0.5;
  margin-left: 0.65em;
}

.detail {
  padding-top: 0.5rem;
  padding-left: 0.25rem;
  p {
    color: rgba(50, 51, 51, 0.95);
  }
}

.message {
  margin-top: 0.75rem;
}
