.timeline {
  margin-bottom: 0.5em;
  margin-left: -5rem;
  overflow-x: auto;
  padding-bottom: 1em;
  direction: rtl;
}

.timeline::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 20px;
  background-color: #F5F5F5;
}

.timeline::-webkit-scrollbar
{
  height: 4px;
  background-color: #F5F5F5;
}

.timeline::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
}

.title {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5em;
  flex: 1;
}

.tocTooltip.empty {
  cursor: not-allowed;
}

.tocTooltip {
  cursor: pointer;
}

.tocTooltip > svg {
  display: flex;
}
